.innerbox {
    height: 200px;
    width: 200px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
    text-align: center;
}

.name {
    font-size: 20px;
    padding-bottom: 15px;
}

.rps {
    height: 105px;
    font-size: 18px;
}

.winloss {
    padding-top: 20px;
}

.selected {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}

#midbox {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}

#chatbox {
    width: 100%;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.navbar-brand {
    text-align: center;
}